{{template "base" .}}
 
{{define "title"}}Электронное пособие | {{end}}
 
{{define "main"}}
    <div class="tab-content my-5 mx-4" id="nav-tabContent">
        {{template "nav-lessons" .}}
        {{template "nav-practice" .}}
    </div>
{{end}}