{{define "nav-lessons"}}
<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <a href="/lesson?id=1" class="link-dark">Lesson 1: Basic Terms</a>
</div>

{{end}}